In [16]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
print(1 in A)
print (8 in B)

True
False

In [21]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
c = A.copy()
print(c)

frozenset({1, 2, 3, 4})

In [23]:
A = {1, 2, 3, 4, 8}
B = {9, 3, 4, 6, 8}
print (A.difference(B))
print (B.difference(A))

{1, 2}
{9, 6}

In [25]:
A1 = {3, 4, 5}
A2 = {3, 5}
print(A1.intersection(A2))

{3, 5}

In [26]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list3 = [3, 4, 5]
set1 = set(list1)
set2 = set(list2)
print(set1.symmetric_difference(set2))

{1, 4}

In [27]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list3 = [3, 4, 5]
set1 = set(list1)
set2 = set(list2)
print(set2.symmetric_difference(list3))

{2, 5}

In [28]:
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}

print("A U B:", A.union(B))

A U B: {2, 4, 5, 6, 7, 8}

In [29]:
A = {1, 3, 4, 5}
B = {1, 0, 4, 6, 3, 5, 0, 5}

print("A.issuperset(B) : ", A.issuperset(B))
print("B.issuperset(A) : ", B.issuperset(A))

A.issuperset(B) :  False
B.issuperset(A) :  True

In [30]:
A = {1, 2, 3, 4, 5}
B = {4, 5}
print(B.issubset(A))

True

In [31]:
A = {1, 2, 3}
B = {4, 5, 6}
print(A.isdisjoint(B))

True